.about-container {
  margin: 0 auto;
  width: 90%;
}

.about-container > h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
}

.about-left {
  padding: 30px;
}

.about-me-image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.about-right {
  padding: 30px;
}

.about-description {
  font-size: 18px;
  letter-spacing: 2px;
}
