.footer {
  position: relative;
  margin-top: 40px;
  height: 200px;
  width: 100%;
  background-color: #F6F5F6;
  box-shadow: 0 0 15px rgba(0,0,0,0.11);
}

.copy-right {
  position: absolute;
  right: 40px;
  bottom: 20px;
  color: #C2C2C2;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 2px;
}

.link-list {
  position: absolute;
  bottom: 30px;
  left: 40px;
  list-style: none;
}

.link-list > a {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  background-color: rgba(20,20,20, 0.4);
}

.link-list > a:hover {
  color: #fff;
  text-decoration: none;
}
