.homeImage {
  background-image: url(https://images.pexels.com/photos/1480799/pexels-photo-1480799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer {
  background-color: rgba(20,20,20, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-title {
  margin-top: 10%;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #fff;
  text-align: center;
}

.home-description {
  margin-top: 50px;
  font-size: 25px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

.read-more {
  margin-top: 70px;
  text-align: center;
}

.read-more > a {
  color: rgba(20,20,20, 0.7);
  padding: 15px 35px 15px 35px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

.read-more > a:hover {
  color: #fff;
  border: solid 2px #fff;
  background-color: rgba(20,20,20, 0.5);
}
