.navbar {
  z-index: 1;
  padding: 10px;
  border-bottom: solid 1px #efefef;
  /* background: linear-gradient(to bottom left, #ccffff 0%, #ffffcc 100%); */
}

.nav-list {
  margin-top: 20px;
  margin-left: -50px;
  list-style: none;
  text-align: center;
}

.nav-list-item {
  margin-right: 70px;
  margin-left: 50px;
  text-decoration: none;
  display: inline-block;
}

.nav-list-item > a {
  font-size: 20px;
  letter-spacing: 2px;
  color: #000;
}

.nav-list-item > a:hover {
  color: gray;
  text-decoration: none;
}
