.skills-container {
  margin: 0 auto;
  width: 90%;
}

.skills-container > h1 {
  margin: 0;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  color: #565656;
}

.skills-list {
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
}

.skills-box {
  position: relative;
  margin: 50px 40px 40px 40px;
  min-width: 280px;
  min-height: 350px;
  display: inline-block;
  border: solid 1px #efefef;
  box-shadow: 6px 5px 39px -8px rgba(239,239,239,1);
}

.skills-box:hover {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11);
}

.skills-box > h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 5px;
  color: #565656;
}

.progress {
  margin: 0 auto;
  width: 240px;
  height: 10px;
}

.processbar-title {
  margin-top: 20px;
  letter-spacing: 2px;
  color: #757A7E;
}

.skill-description {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 240px;
  letter-spacing: 1px;
  color: #757A7E;
}

/* Progress ID */
/* over 90%
background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%); */

/* over 60%
background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%); */

/* less than 50%
background: linear-gradient(to bottom right, #ffcccc 0%, #ffffcc 100%); */

#HTML-proficiency {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#HTML-experience {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#CSS-proficiency {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#CSS-experience {
  background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%);
  width: 70%;
}

#SASS-proficiency {
  background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%);
  width: 80%;
}

#SASS-experience {
  background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%);
  width: 80%;
}

#JS-proficiency {
  background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%);
  width: 80%;
}

#JS-experience {
  background: linear-gradient(to bottom right, #ffcccc 0%, #ffffcc 100%);
  width: 50%;
}

#Ruby-proficiency {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#Ruby-experience {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#Go-proficiency {
  background: linear-gradient(to bottom right, #ffcccc 0%, #ffffcc 100%);
  width: 50%;
}

#Go-experience {
  background: linear-gradient(to bottom right, #ffcccc 0%, #ffffcc 100%);
  width: 20%;
}

#Rails-proficiency {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#Rails-experience {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#React-proficiency {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#React-experience {
  background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%);
  width: 60%;
}

#Bstrap-proficiency {
  background: linear-gradient(to bottom right, #ccffff 0%, #ffffcc 100%);
  width: 90%;
}

#Bstrap-experience {
  background: linear-gradient(to bottom right, #ccccff 0%, #ccffff 100%);
  width: 60%;
}
